<!-- templates/signup.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="d-flex justify-content-center" style=".align-items-center">
    <table class="d-flex align-items-center" >

        <tr>

            <td>
                  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
   <button type="submit" class="btn btn-primary">Sign up</button>
    </form>

            </td>
        </tr>



    </table>
</div>

{% endblock %}